<!DOCTYPE html>
<html>

<head>
	<title>PlanIt</title>
</head>

<body>
	<div id="app">
		<!-- <h1>{{ message }}</h1> -->

		<navbar></navbar>
		<home v-if="isHome"></home>
		<event-details v-if="isEventDetails"></event-details>
		<upcoming-events v-if="isUpcomingEvents"></upcoming-events>
		<past-events v-if="isPastEvents"></past-events>
	</div>

	<!--------------------------------------Testing------------------------------------------>

	<h1 style="margin: auto;width: 15%">Firebase Test</h1>
	<p id="test" style="margin: auto; font-size: 20px;width:15%;margin-top: 20px"></p>

	<!--------------------------------------End Testing------------------------------------------>

	<!-- Firebase stuff -->
	<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
	<script>
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyDfEKi27Kav9k5IkyY6Ruz43I9M8VbibiM",
			authDomain: "planit-e0809.firebaseapp.com",
			databaseURL: "https://planit-e0809.firebaseio.com",
			projectId: "planit-e0809",
			storageBucket: "planit-e0809.appspot.com",
			messagingSenderId: "956681008314"
		};
		firebase.initializeApp(config);
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="firebase.js"></script>
	
	<!-- Vue stuff -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script type="text/javascript" src="script.js"></script>

	<!-- Bootstrap stuff -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	 crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	 crossorigin="anonymous"></script>

	 <style>
			@import './styles.css'
		</style>
</body>

</html>