/*
*
* Styling for everything else
*
*/

/* Login CSS
*/
#login
{
    display: block;
    text-align: center;
    margin-top: 50px;
}

#main-app
{
    display: none;
}

/* Navbar CSS
*/
#navbar
{
    height: 70px;
    margin: 10px;
    border-bottom: 3px solid #df5a00;
}

#navbar-logo
{
    height: 50px;
    margin: 10px 20px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
}

.navbar-tab
{
    float: left;
    height: 50px;
    border: none;
    color: #000;
    background-color: #FFF;
}

.navbar-icon
{
    float: right;
    height: 50px;
}

.btn
{
    margin: 10px 20px;
    text-align: center;
}

#home
{
    display: block;
}

#event-details, #all-events
{
    display: none;
}

/* home page
*/
h1
{
    margin: 20px auto;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 80px;
    color: black;
}

/* tables
*/
table 
{
    border-collapse: collapse;
    width: 80%;
    margin: 0px auto;
}

td, th 
{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) 
{
    background-color: #dddddd;
}

/* error CSS
*/
#login-error, #event-error, #event-error1, #event-error2
{
    color: red;
    text-align: left;
}

/* form CSS
*/
#location-details, #location-details1, #paid-event-details
{
    display: none;
}